@if (profile){
<div class="profile-card">
    <div class="avatar-nick">
        <img
            [src]="profile.avatarUrl | imgUrl" 
            class="profile-card__avatar" 
            alt="avatar"
         >

        <div class="profile-card__nick">
            <strong class="h6">{{ profile.firstName }} {{ profile.lastName }}</strong>
            <span class="subtitle">{{ profile.username }}</span>
        </div>
    </div>

    <div class="profile-card__description">{{ profile.description }}</div>

    <div class="profile-card__tags">
        @for(tag of profile.games; track tag){
            <div class="games-tag">{{ tag }}</div>
        }
    </div>

    <div class="profile_card__action-btns">
        <div class="btn">Отправить запрос в друзья</div>
    </div>
</div>
}