<form
    class="login-form"
    [formGroup]="form"
    (ngSubmit)="onSubmit($event)"
>
    <h1 class="h1 mb-60">Вход</h1>

    <label class="pf-control-label mb-16">
        Discord username
        <input 
        formControlName="username" 
        class="pf-input"
        type="text" 
        placeholder="Введите логин">
    </label>

    <label class="pf-control-label mb-32">
        Пароль
        <span class="password-input">
            <input
            formControlName="password"
            class="pf-input" 
            [type]="isPasswordVisible() ? 'text' : 'password' " 
            placeholder="Введите пароль">

            <button 
                class="password-eye-btn"
                [style.filter]="isPasswordVisible() ? 'var(--negative-hue-color)' : 'var(--positive-hue-color)'"
                (click)="isPasswordVisible.set(!isPasswordVisible())"
            >
                <img class="eye-crossed-icon" src="assets/svg/eye-crossed-icon.svg" alt="eye_crossed_icon">
            </button>
        </span>
    </label>

    <button class="btn pf-control-btn btn-shadow">Войти</button>
</form>

<img src="assets/svg/logo.svg">