@import "fonts";
@import "margins";
:root{
    --dark-color: #000000;
    --light-color: #FFFFFF;
    --primary-color: rgb(56, 141, 226);
    --gray-color: #5F646D;
    --action-color: rgb(56, 114, 171);
    --dark-action-color: #161616;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background: var(--dark-color);
    color: var(--light-color);
    font-family: "JetBrains Mono", sans-serif;
    background-image: url('/assets/imgs/background3.png');
    background-size: cover;
    backdrop-filter: blur(0px);
    margin: 0;
    padding: 0;
    height: 100dvh;
    animation: backflow infinite 100s ease-in-out;
}

.btn{
    border: none;
    background: var(--primary-color);
    color: var(--dark-color);
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 800;
    line-height: 24px;
    text-align: center;
    border: 1px solid var(--dark-color);
}

.games-tag{
    border: 1px solid var(--light-color);
    border-radius: 4px;
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 700;
    background: var(--dark-color);
}

.h6{
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}

h1{
    font-size: 48px;
    line-height: 56px;
    font-weight: 800;
}

.subtitle{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.pf-control-label{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    display: block;
}

.medium-text{
    font-family: "JetBrains Mono", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16;
}

.pf-input{
    margin-top: 8px;
    border: 1px solid var(--light-color);
    border-radius: 3px;
    padding: 12px 20px;
    background: var(--dark-color);
    font-weight: 400;
    font-size: 21px;
    font-family: "JetBrains Mono", sans-serif;
    width: 100%;
    color: var(--light-color)
}

.pf-control-btn{
    width:109%;
}

.btn-shadow{
    position: relative;

    &:before{
        content: '';
        position: absolute;
        bottom: -4px;
        right: -4px;
        background: var(--gray-color);
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 4px;
    }
}

@keyframes backflow {
    50%{
        background-position: 500px;
    }
}

.btn:hover{
    background: var(--action-color);
}